:root: {
  --prymaly-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
}
/* Section Site header */
.site-nav .link {
  color: #212121;
}
.site-nav.link:hover,
.site-nav.link:focus {
  color: var(--accent-text-color);
}

.adress-link {
  color: var(--prymaly-text-color);
}
.page-header .contact:hover,
.page-header .contact:focus {
  color: var(--accent-text-color);
}

/* Section main */
.section .section-title {
  color: var(--title-text-color);
}
