:root {
  --main-font: "Roboto", sans-serif;
  --secondory-font: "Raleway", sans-serif;
  --primaly-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primaly-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.button {
  cursor: pointer;
}
/* Section Site header */
.section-header {
  background-color: #ffffff;
}
.logo {
  font-family: var(--secondory-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo-header {
  color: #000000;
}
.nav-list .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-text-color);
}
.header-contacts .link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primaly-text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-text-color);
}

/* Section Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
}
.hero .button:hover,
.hero .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section Peculiarities */
.section-peculiarities .title {
  display: none;
}
.section-peculiarities .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* Section What are we doing */
.section-about .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Section Our team */
.section-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.section-team .section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.section-team .section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section Footer */
.section-footer {
  background-color: #2f303a;
}
.section-footer .logo-footer {
  color: #ffffff;
}
.section-footer .footer-address {
  color: #ffffff;
}

/* Page portfolio */
.main-title {
  display: none;
}
/* Section Filters */
.filters .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
}
.filters.button:hover,
.filters .button:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
}

/* Section Work examples */
.section-work .title {
  display: none;
}
.filters .title {
  display: none;
}
.section-work .section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.section-work .section-text {
  font-size: 16px;
  line-height: 1.87;
}
